.current-player-info {
    color: aliceblue;
}

.current-player-heading {
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 0;
    font-weight: 100;
}

.current-player-name {
    margin-top: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
.cpn-red {
    color: rgb(178, 34, 34);
}

.cpn-green {
    color: rgb(34, 139, 34);
}

.cpn-blue {
    color: rgb(16, 52, 166);
}

.cpn-yellow {
    color: rgb(244, 196, 49);
}